@model object
@{
    Layout = "_Layout";
    ViewData["Title"] = "CreateTest";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <link rel="stylesheet" href="~/css/CreateTestStyle.css"/>
            <script src="~/js/FuncCreateTest_.js"></script>
    <title>Create Test</title>
</head>
<body>
<div>
    <h1 align="center">Create Test</h1>
    <input type="button" value="Create" onclick="CreateTest()">
</div>
</body>
</html>