@model object

@{
    ViewData["Title"] = "Create Test";
}

<!DOCTYPE html>

<html>
<head>
    <title>Create Test</title>
</head>
<body>
<div>
      <h1 align="center">Create Test</h1>
</div>
</body>
</html>