@model object
@{
    Layout = "_Layout";
    ViewData["Title"] = "CreateTest";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/CreateTestStyle.css"/>
            <script src="~/js/FuncCreateTest.js"></script>
    <title>Create Test</title>
</head>
<body>
<div>
      <h1 align="center">Create Test</h1>
</div>
</body>
</html>