@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/ProfileStyle.css"/>
            <script src="~/js/FuncProfile.js"></script>
    <title>Profile</title>
</head>
<body>
<div>
    <h1 align="center">Profile</h1>
</div>
</body>
</html>