@{
    ViewData["Reg"] = "Registration Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Registration</title>
</head>
<body>
<div>
    <h1 align="center">Registration</h1>
    <h1 align="center">Input your data </h1>
</div>
</body>
</html>