@model object

@{
    ViewData["RegF"] = "Registration Form";
}

<!DOCTYPE html>

<html>
<head>
    <title>Registration Form</title>
</head>
<body>
<div>
      <h1 align="center">Registration form for new users</h1>
</div>
</body>
</html>