@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Tests";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tests</title>
</head>
<body>
<div>
   <h1 align="center">Tests</h1>   
</div>
</body>
</html>