@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Tests";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/TestsStyle.css"/>
            <script src="~/js/FuncTests.js"></script>
    <title>Tests</title>
</head>
<body>
<div>
    <h1 align="center">Tests</h1>   
    <input type="button" value="Добавить тест" onclick="AddTest()">
</div>
</body>
</html>