@model object
@{
    Layout = "_Layout";
    ViewData["Title"] = "TestResult";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <link rel="stylesheet" href="~/css/TestResultStyle.css"/>
            <script src="~/js/FuncTestResult.js"></script>
    <title>Create Test</title>
</head>
<body>
<div>
    <h1 align="center">TestResult</h1>
</div>
</body>
</html>