@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/TestPassingStyle.css"/>
            <script src="~/js/FuncTestPassing.js"></script>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>