@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Thanks";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/ThanksStyle.css"/>
            <script src="~/js/FuncThanks.js"></script>
    <title>Thanks</title>
</head>
<body>
<div>
    <h1 align="center">We Need All Your Money</h1>
    <h2 align="center">Сказать спасибо Первому разработчику 8800 5555 3535 0000 </h2>
    <h2 align="center">Сказать спасибо Второму разработчику 8800 5555 3535 0001</h2>
    <h2 align="center">Сказать спасибо Третьему разработчику 8800 5555 3535 0002</h2>
    <h2 align="center">Сказать спасибо Всему проекту 8800 5555 3535 0003</h2>
    <h3 align="center">Вернуться на <a asp-action="Home" asp-controller="Home" asp-area="">Главную страницу</a></h3>
    <h3 align="center">Вернуться в <a asp-action="Profile" asp-controller="Profile" asp-area="">Профиль</a></h3>
</div>
</body>
</html>