@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Thanks";
}

<!DOCTYPE html>

<html>
<head>
    <title>Thanks</title>
</head>
<body>
<div>
      <h1 align="center">We Need All Your Money</h1>
</div>
</body>
</html>