@model object

@{
    ViewData["Title"] = "Personal Account";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1 align="center">Personal Acount</h1>
</div>
</body>
</html>