@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h1 align="center">Login</h1>
    <input name="Login" type="text" size="25"style="position: absolute;left: 43%;top: 45%;"  placeholder="Login"></input>
    <input name="Password" type="text" size="25"style="position: absolute;left: 43%;top: 50%"  placeholder="Password"></input>
</div>
</body>
</html>