@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css"/>
        <script src="~/js/FuncLogin.js"></script>
    <title>Login</title>
</head>
<body>
<div>
    <h1 class="HorizontalCenterMainText" >Test You</h1>
    <form>
        <h3 class = "NamePage">Вход</h3>
        <input id="email" type="email" size="30" value="" placeholder="Логин" class="ForLogin" required/>
        <input id="password" type="password" size="30" value="" placeholder="Пароль" class="ForPassword" required/>
        <a class="ForRegistration" asp-area="" asp-controller="Registration" asp-action="Registration">У вас нет аккаунта?</a>
        <input id="button1" class="ForButton" value="Войти" type="submit" onclick="Login()"/>
       
    </form>
</div>
</body>
</html>