@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
     <link rel="stylesheet" href="~/css/HomeStyle.css"/>
            <script src="~/js/FuncHome.js"></script>
    <title>Home</title>
</head>
<body>
<div>
    <br/><br/><h1 class="NameTest" >Test You</h1>
    <p class = "Text" >Привет пользователь, зашедший на наш прекраснейший сайт. Ты можешь задать  себе вполне логичный вопрос: "Что можно делать на этом великолепном сайте?" Тебя ждут увлекательнейшие тесты, которые помогут тебе найти ответ на один из самых важных вопросов всего современного общества: "Кто я такой или что я такое???"  Десятки увлекательнейших тестов помогут определить, какой ты фрукт, овощ, Смешарик, какая еда, Фея из Винкс, и это всё - далеко не предел! Если вдруг тебе покажется, что тестов мало, или, может быть, тебе результат не совсем понравится, ты сможешь поставить свою оценку тесту в <a asp-area="" asp-controller = "Profile" asp-action="Profile">личном кабинете</a>, в котором, кстати, можно также просмотреть свою статистику прохождения или <a asp-area="" asp-controller = "TestCreate" asp-action="TestCreate">создать</a> свой собственный тест. Дорогой Друг, приступай!!!</p>
    
</div>
</body>
</html>