@model object
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="~/css/HomeStyle.css"/>
    <script src="~/js/FuncHome.js"></script>
    <title>Home</title>
</head>
<body>
<div class="Main">
    <h1 class="NameTest" align="center" >Test You</h1>
    <p class="Text">
        Привет пользователь, зашедший на наш прекраснейший сайт. Ты можешь задать себе вполне логичный вопрос: "Что можно делать на этом великолепном сайте?" Тебя ждут увлекательнейшие тесты, которые помогут тебе найти ответ на один из самых важных вопросов всего современного общества: "Кто я такой или что я такое???" Десятки увлекательнейших тестов помогут определить, какой ты фрукт, овощ, Смешарик, какая еда, Фея из Винкс, и это всё - далеко не предел! Если вдруг тебе покажется, что тестов мало, или, может быть, тебе результат не совсем понравится, ты сможешь поставить свою оценку тесту в <a asp-area="" asp-controller="Profile" asp-action="Profile">личном кабинете</a>, в котором, кстати, можно также просмотреть свою статистику прохождения или <a asp-area="" asp-controller="TestCreate" asp-action="TestCreate">создать</a> свой собственный тест. Дорогой Друг, приступай!!!
    </p>
    <p class="Text2">
        Тесты:
    </p>
    <h4 id="Tests"></h4>
</div>
</body>
</html>

<script>
Init()
</script>