@model object

@{
    ViewData["Home Page"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Home Page</title>
</head>
<body>
<div>
    <h1 align="center">Home Page</h1>  
</div>
</body>
</html>