h1.HorizontalCenterMainText{
    position: absolute;
    top: 10%;
    left: 45%;
}
input.ForLogin{
    position: absolute;
    top: 40%;
    left: 41%;
}

input.ForPassword{
    position: absolute;
    top: 45%;
    left: 41%;
}

input.ForButton{
    position: absolute;
    top: 50%;
    left: 41%;
}