h1.HorizontalCenterMainText{
    position: absolute;
    top: 10%;
    left: 45.25%;
}
input.ForLogin{
    position: absolute;
    top: 40%;
    left: 41%;
}

input.ForPassword{
    position: absolute;
    top: 45%;
    left: 41%;
}

input.ForButton{
    position: absolute;
    top: 50%;
    left: 41%;
}

a.ForRegistration{
    color :black;
    position: absolute;
    top: 50.75%;
    left: 50%;
}
h3.SignIn{
    position: absolute;
    top: 30%;
    left: 47.5%;
}




