@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/RegistrationStyle.css"/>
    <script src="~/js/FuncRegistration.js"></script>
    <title>Registration</title>
</head>
<body>
<div>
    <form action="js/FuncRegistration.js">
        <h1 class="HorizontalCenterMainText">Registration</h1>
        <input id="email" class="ForLogin" value="" type="email" size="30" placeholder="Email" required="required"/>
        <input id="password1" class="ForPassword1" value="" type="password" size="30" placeholder="Password" required="required"/>
        <input id="password2" class="ForPassword2" value="" type="password" size="30" placeholder="Confirm Password" required="required">
        <input onclick="CreateAccount()" id="button" class="ForButton" value="Enter" type="submit"/>
    </form>
</div>
</body>
</html>