@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/RegistrationStyle.css"/>
    <script src="~/js/FuncRegistration.js"></script>
    <title>Registration</title>
</head>
<body>
<div>
    <h1 align="center">Registration</h1>
</div>
</body>
</html>