@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
}

<!DOCTYPE html>

<html>
<head>
    <title>Registration</title>
</head>
<body>
<div>
      <h1 align="center">Registration</h1>
</div>
</body>
</html>