@model object

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registration";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/RegistrationStyle.css"/>
    <script src="~/js/FuncRegistration.js"></script>
    <title>Registration</title>
</head>
<body>
<div>
    <h1 class="HorizontalCenterMainText">Test You</h1>
    <h3 class = "ForPageName">Регистрация</h3>
    <input id="email1" class="ForLogin" value="" size="30" placeholder="Логин" required="required"/>
    <input id="password1" class="ForPassword1" value="" type="password" size="30" placeholder="Пароль" required="required"/>
    <input id="password2" class="ForPassword2" value="" type="password" size="30" placeholder="Подтвердите Пароль" required="required">
    <input onclick="CreateAccount()" id="button" class="ForButton" value="Зарегестрироваться" type="submit"/>
    <a class="ForLogin" asp-area="" asp-controller = "Login" asp-action="Login">У вас уже есть аккаунт?</a>
</div>
</body>
</html>